<p id="notice"><%= notice %></p>

<p>
    <strong>Avatar:</strong>
    <%= image_tag(@profile.avatar.url(:preview)) %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @profile.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<% if @profile.id == current_user.id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>
<%= link_to 'Back', request.referer %>
