<div class="center">
  <h1><%= @group.name %>'s Members</h1>
  
  
  <table>
    <tbody>
      <% @memberships.each do |m| %>
        <tr>
          <% @profile = Profile.find(m.profile_id) %>
          
          <% if m.accepted_on.nil? %>
          
            <% if @admin %>
              
              <td><%= image_tag(@profile.avatar.url(:thumb)) %></td>
             
              <td><%= (@profile.fname + " " + @profile.lname) %></td>
              
              <td>Accept as member</td>
              
              <% if m.g_admin %>
                <td>Admin</td>
              <% else %>
                <td>Set as Admin</td>
              <% end %>
              
              <td><%= link_to 'Remove from Group', group_membership_path(@group, m), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
            <% end %>
            
          <% else %>
          
            <td><%= image_tag(@profile.avatar.url(:thumb)) %></td>
            <td><%= (@profile.fname + " " + @profile.lname) %></td>
            <td>Joined <%= m.accepted_on.to_date %></td>
            <% if m.g_admin %>
              <td>Admin</td>
            <% end %>
            
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'Back', @group %>
</div>