<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Accepted on</th>
      <th>G admin</th>
      <th>Profile</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.accepted_on %></td>
        <td><%= membership.g_admin %></td>
        <td><%= membership.profile %></td>
        <td><%= membership.group %></td>
        <td><%= link_to 'Show', group_membership_path(@group, membership) %></td>
        <td><%= link_to 'Destroy', group_membership_path(@group, membership), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_group_membership_path(@group) %>
