<%= form_for([@group, @gexpense]) do |f| %>
  <% if @gexpense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gexpense.errors.count, "error") %> prohibited this gexpense from being saved:</h2>

      <ul>
      <% @gexpense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paid_on %><br>
    <%= f.date_select :paid_on %>
  </div>
  <div class="field">
    <%= f.label 'Total Amount' %><br>
    <%= f.text_field :total_amt %>
  </div>
  <div class="field">
    <%= f.label 'Item' %><br>
    <%= f.select :gitem_id, @gitem.collect { |itm| [itm.itm_with_cat, itm.id] } %>
  </div>
  <div class="links">
    <p><%= link_to 'Create New Item', group_gcategories_path(@group, @gcategories) %></p>
  </div>
  <div class="clearfix"></div>
  <div class="field">
    <%= f.label 'Members Sharing this Expense:' %>
    <%= f.collection_check_boxes :membership_ids, @membership.all, :id, :fname do |member| %>
      <div class="collection-check-box">
        <%= member.check_box %>
        <%= member.label %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
