<div class="top">
  <div class="left">
    <h1><%= @group.name %></h1>
  </div>
  <div class="right">
    <%= link_to "View Members", group_memberships_path(@group) %>
    <% if current_user.admin? %>
      <%= link_to "Edit Group", edit_group_path(@group) %>
    <% end %>
  </div>
</div>

<div class="third-left">
  <h2>Group Schedules</h2>
  <div class="create">
    <p>Create new Schedule</p>
  </div>
  <div class="content">
    
  </div>
</div>

<div class="third-center">
  <h2>Group Messages</h2>
  
  <!-- Box for posting a new message -->
  <%= form_for([@group, @message]) do |f| %>
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
  
        <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  
  <!-- list all messages -->
  <div class="messages">
    <% @messages.where(:group_id => @group).each do |msg| %>
      <table>
        <tbody>
          <% @profile = Profile.find(msg.profile_id) %>
          <tr>
            <td rowspan="2"><%= link_to image_tag(@profile.avatar.url(:thumb)), profile_url(@profile) %></td>
            <td><%= @profile.fname %></td>
            <td colspan="2"><%= link_to 'Edit', edit_group_message_path(@group, msg) %> <%= link_to 'Destroy', group_message_path(@group, msg), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <tr>
            <td><%= msg.created_at.strftime("%A, %e %B %Y at %H:%M") %></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="5"><%= msg.content %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="third-right">
  <h2>Group Expenses</h2>
</div>
