<div class="top">
  <div class="left">
    <h1><%= @group.name %></h1>
  </div>
  <div class="right">
    <%= link_to "View Members", group_memberships_path(@group) %>
    <% if current_user.admin? %>
      <%= link_to "Edit Group", edit_group_path(@group) %>
    <% end %>
  </div>
</div>

<div class="section">
  <h2>Group Schedules</h2>
  <div class="create">
    <%= link_to "Create new Activity", new_group_activity_path(@group) %>
  </div>
  <div class="content">
    <% @activities.where(:group_id => @group).each do |act| %>
      <p><%= link_to act.name, group_activity_path(@group, act) %></p>
      <table>
        <tbody>
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Person in Charge</th>
          </tr>
          <% @schedules.where(:activity_id => act).each do |sch| %>
            <tr>
              <td><%= sch.date.strftime("%e %b %y, %A") %></td>
              <td><%= sch.start_time.strftime("%H:%M") %></td>
              <% @membership = Membership.find(sch.membership_id) %>
              <td><%= Profile.find(@membership.profile_id).fname %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="section">
  <h2>Group Messages</h2>
  
  <!-- Box for posting a new message -->
  <%= form_for([@group, @message]) do |f| %>
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
  
        <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :content, :class => "message" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
    <br>
  <% end %>
  
  <!-- list all messages -->
  <div class="content">
    <% @messages.where(:group_id => @group).each do |msg| %>
      <table>
        <tbody>
          <% @profile = Profile.find(msg.profile_id) %>
          <tr>
            <th rowspan="2"><%= link_to image_tag(@profile.avatar.url(:mini)), profile_url(@profile) %></th>
            <th><%= @profile.fname %></th>
            <th colspan="2"><%= link_to 'Edit', edit_group_message_path(@group, msg) %> |
                            <%= link_to 'Destroy', group_message_path(@group, msg), method: :delete, data: { confirm: 'Are you sure?' } %></th>
          </tr>
          <tr>
            <th class="date"><%= msg.created_at.strftime("%A, %e %B %Y at %H:%M") %></th>
            <th>&nbsp;</th>
          </tr>
          <tr>
            <td colspan="5"><%= msg.content %></td>
          </tr>
        </tbody>
      </table>
      <br>
    <% end %>
  </div>
</div>

<div class="section">
  <h2>Group Expenses</h2>
  <% if @gexpenses.nil? %>
  <% else %>
    <h3>Overview</h3>
    
    <div class="half">
      <table>
        <thead>
          <tr>
            <th>Month</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @monthly_exp.each do |month, expenses| %>
            <tr>
              <td><%= month %></td>
              <% count_array = expenses.collect { |e| e.total_amt } %>
              <td><%= count_array.sum %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="half">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @cat_exp.each do |cat, expenses| %>
            <tr>
              <td><%= cat %></td>
              <% count_array = expenses.collect { |e| e.total_amt } %>
              <td><%= count_array.sum %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="clearfix"></div>
  <% end %>
  
  <div class="links">
    <p><%= link_to '+ Record a New Expense', new_group_gexpense_path(@group) %></p>
    <p><%= link_to 'View all Group Expenses', group_gexpenses_path(@group) %></p>
  </div>
  
  <% if @member_expense.where(:paid => false) %>
    <h3>Bills Outstanding</h3>
    
    <table>
      <thead>
        <tr>
          <th>Expense</th>
          <th>Date Incurred</th>
          <th>Owing</th>
          <th>Amount</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @member_expense.where(:paid => false).each do |e| %>
          <% if e.paid %>
          <% else %>
            <tr>
              <td><%= Gitem.find(Gexpense.find(e.gexpense_id).gitem_id).name %></td>
              <td><%= Gexpense.find(e.gexpense_id).paid_on.strftime('%d %b %y') %></td>
              <td><%= Profile.find(Membership.find(e.membership_id).profile_id).fname %></td>
              <td><%= Gexpense.find(e.gexpense_id).shared_amt %></td>
              <td>
                <% if current_user.id == Membership.find(e.membership_id).profile_id %>
                  (<%= link_to 'Pay', pay_gexpenses_path(@group, e.gexpense_id, e), method: :post, data: { confirm: 'By selecting this you are confirming that you have paid the contributor for the expense.' }%>)
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p>All group expeneses have been paid!</p>
    
  <% end %>
</div>
