<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.desc %></td>
        <td><%= Category.find(item.category_id).name %></td>
        <td><%= link_to 'Show', profile_category_item_path(@profile, @category, item) %></td>
        <td><%= link_to 'Edit', edit_profile_category_item_path(@profile, @category, item) %></td>
        <td><%= link_to 'Destroy', profile_category_item_path(@profile, @category, item), method: :delete, data: { confirm: 'Are you sure? Deleting the item will delete all expenses associated with it.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_profile_category_item_path(@profile, @category) %>
