<p><%= link_to "+ Record New Expenses", new_profile_expense_path(@profile) %></p>

<% @monthly_exp.each do |month, expenses| %>
  <h2><%= month %></h2>
  
  <div class="section">
    <h3>Expenes by Categories</h3>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.group_by(&:category).sort.each do |cat, e| %>
          <tr>
            <td><%= cat %></td>
            <% count_array = expenses.collect { |e| e.amt } %>
            <td><%= count_array.sum %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    </br>
    
    <h3>Daily Totals</h3>
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.group_by(&:day).sort.each do |day, e| %>
          <tr>
            <td><%= day %></td>
            <% count_array = expenses.collect { |e| e.amt } %>
            <td><%= count_array.sum %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="two-third">
    <% expenses.group_by(&:category).sort.each do |cat, e| %>
    <h3><%= cat %></h3>
      
      <% e.each do |e| %>
        <table>
          <tr>
            <td><%= e.exp_date.strftime("%d %b %Y") %></td>
            <td><%= Item.find(e.item_id).name %></td>
            <td><%= e.amt %></td>
            <td><%= link_to 'Edit', edit_profile_expense_path(@profile, e) %></td>
            <td><%= link_to 'Destroy', profile_expense_path(@profile, e), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
  
  <div class="clearfix"></div>

<% end %>