<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Butler</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--insert fonts-->
  
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body>
  <div class="topnav">
    <ul>
      <% if user_signed_in? %>
        <% @profile = current_user.id %>
        <li><%= link_to 'Profile', profile_path(@profile) %></li>
        <li>Expenses</li>
        <li>Groups</li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="adminNav">
    <% if user_signed_in? && current_user.admin? %>
      <li><%= link_to 'All User Profiles', profiles_path %></li>
      <li><%= link_to 'All Groups' %></li>
    <% end %>
  </div>
  
  <div class="clearfix"></div>
  
  <div id="wrapper">
    <%= yield %>
  </div>
  
</body>
</html>
